* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    color: #241224;
    text-decoration: none;
    list-style: none;
}
.bgcolor1 {
    background-color: #241224;
    color: #000000;
}
.bgcolor2 {
    background-color: #dcd2d1;
}
.bgcolor3 {
    background-color: #eba215;
}
.color1 {
    color: #241224;
}
.color2 {
    color: #dcd2d1;
}
.color3 {
    color: #eba215;
}
.titulo {
    font-family: 'Dancing Script', cursive;
    font-size: clamp(2rem, 4vw, 3.5rem);
    text-align: center;
}
.nav {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}
.nav-loja img{
    height: 8vh;
}
.nav-opcoes {
    display: flex;
    justify-content: space-between;
    font-size: clamp(0.8rem, 2vw, 1rem)
}
.opcoes {
    padding: 2px 10px;
}
.nav-opcoes li {
    
}
.nav-opcoes li:hover {
    font-weight: bold;
}
.inicio {
    height: 92vh;
    background-color: #dcd2d1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.inicio-titulo {
    font-size: clamp(3rem, 10vw, 8rem);
}
.subtitulo {
    font-size: clamp(1.0rem, 4vw, 2rem);
}
.div-bt {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.bt-contato {
    background-color: #eba4157c;
    border: none;
    width: clamp(6rem, 14vw, 10rem);
    border-radius: 50px;
    font-size: clamp(0.8rem, 2vw, 1.2rem); 
    padding: 4px;
}

/** Sobre **/
.sobre {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding-top: 20px;
    text-align: center;
    align-items: center;
}
.bt-rede-social button{
    border: none;
}
.bt-rede-social button:hover {
    cursor: pointer;
}
.bi {
    background-color: #eba215;
    color: #ffffff;
    padding: 3px 8px 8px;
    border-radius: 5px;
    font-size: clamp(1.0rem, 3vw, 1.5rem); 
}
.bi:hover {
    background-color: #e9b03f;
}
.loja-descricao{
    font-size: clamp(1.0rem, 2vw, 1.2rem);
    max-width: 500px;
    margin: 20px 30px;
}
.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.sp {
    display: none;
}
.loja {
    display: flex;
    align-items: center;
}
.loja img{
    max-width: 500px;
    width: 40vw;
    margin: 20px;

}
/** Imagem de transicao **/
.imagem-transicao {
    margin: 50px 0;
}
.imagem-transicao img{
    width: 100%;
}

/** Contato **/
.contato {
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-size: clamp(1.0rem, 2vw, 1.2rem); 
}
.contato-titulo {
    padding: 5px 0 30px 0;
}
.opcoes-contato {
    display: flex;
    justify-content: center;
    padding: 20px 0 70px;
    gap: 5vw;
}
.mapa{
    width: 25vw;
    height: 40vh;
}
.contato-negrito {
    font-weight: bold;
}
.contato-esquerda-topo {
    display: flex;
    gap: 5vw;
}
.horarios-titulo {
    padding-bottom: 4px;
}
.endereco-numero {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.endereco-numero p {
    padding: 2px 0;
}

/** Rodape **/

.rodape-opcoes{
    gap: 5vw;
    padding: 30px 10px;
}
.rodape p{
    color: #ffffff;
    font-size: clamp(0.6rem, 2vw, 0.8rem); 
}
.rodape ul {
    display: flex;
    justify-content: center;
}
.logo-footer a img{
    height: 8vh;
}
.nav-footer-itens {
    display: flex;
    flex-direction: column;
}
.endereco {
    max-width: 200px;
}

@media (max-width: 800px){
    .opcoes-contato {
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px 20px 70px;
    }
    .mapa {
        width: 70vw;
        height: 60vh;
    }
}
@media (max-width: 700px){
    .sobre {
        flex-direction: column;
        align-items: center;
    }
    .pc {
        display: none;
    }
    .sp {
        display: flex;
    }
    .loja img{
        width: 80vw;
        
    }
}
@media (max-width: 600px){
    .nav{
        flex-direction: column;
        padding-bottom: 10px;
    }
    .opcoes-contato {
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px 20px 70px;
    }
    .mapa {
        width: 90vw;
        height: 60vh;
    }
    .rodape ul {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .endereco {
        max-width: 100px;
    }
}
@media (max-width: 460px) {
    .contato-esquerda-topo {
        flex-direction: column-reverse;
        
    }
    .mapa {
        width: 80vw;
        height: 60vh;
    }
}