* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    color: #241224;
    text-decoration: none;
    list-style: none;
}
.bgcolor1 {
    background-color: #241224;
    color: #000000;
}
.bgcolor2 {
    background-color: #dcd2d1;
}
.bgcolor3 {
    background-color: #eba215;
}
.color1 {
    color: #241224;
}
.color2 {
    color: #dcd2d1;
}
.color3 {
    color: #eba215;
}
.titulo {
    font-family: 'Dancing Script', cursive;
}
.nav {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 0 5%;
}
.nav-loja img{
    height: 8vh;
}
.nav-div {}
.nav-opcoes {
    display: flex;
    justify-content: space-between;
}
.opcoes {
    padding: 2px 10px;
}
.nav-opcoes li {
    
}
.nav-opcoes li:hover {
    font-weight: bold;
}
.inicio {
    height: 92vh;
    background-image: url("img/capa.jpg");
    background-color: #dcd2d1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inicio-titulo {
    font-size: clamp(3rem, 10vw, 8rem);
}
.subtitulo {
    font-size: clamp(1.0rem, 4vw, 2rem);
}
.div-bt {
    display: flex;
    justify-content: center;
}
.bt-contato {
    background-color: #eba215;
    border: none;
    width: clamp(6rem, 20vw, 10rem);
}
@media (max-width: 600px){
    .nav{
        flex-direction: column;
    }
}